.sobre .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.sobre p{
  margin: 18px 0;
  width: 100%;
  color: #000000a6;
  text-align: justify;
}

.sobre img{
  width: 100%;
  border-radius: 10px;
}

@media(max-width: 830px){
  
  .container{
      flex-direction: column;
  }
  
}
