.section {
  margin: 12px 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 64px;

  .video_card {
    position: relative;
    width: 42%;
    .img {
      width: 100%;
      border-radius: 15px;
      box-shadow: 2px 2px 20px #0000005d;
      z-index: 2;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }

    button {
      z-index: 1;
      position: absolute;
      left: 40%;
      top: 32%;
      background: none;
      color: rgba(255, 255, 255, 0.839);
      background-color: transparent;
      color: inherit;
      border: none;
      // font-size: 32px;
      cursor: pointer;
      border-radius: 50%;
      font-size: 100px;
      
    }
  }
}

@media (max-width: 850px) {
  .section {
    .video_card {
      button {
        font-size: 56px;
      }
    }
  } 
}

@media (max-width:500px) {
  .section {
    // flex-direction: column;

    .video_card {
      width: 100%;
      button {
        font-size: 72px;
      }
    }
  }
}