.footer {
  padding-bottom: 0;
  div {
    padding: 21px;
    text-align: center;
    background-color: #80C3D2;
    p {
      font-size: 21px;
      color: #fff;
    }
  }
}

.nuvem:first-of-type {
  margin-bottom: -5px;
}

.nuvem {
  width: 100%;
}

// @media (max-width: 680px) {
//   .footer {
//     div {
//       p {
//         font-size: 15px;
//       }
//     }
//   }
// }