$font-family: "Baloo Bhai 2", sans-serif;

.header {
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 16px;
  margin-right: 32vw;
  .ul {
    display: flex;
    gap: 32px;
    justify-content: center;

    li {
      list-style: none;
      text-transform: uppercase;
      color: white;
      padding: 15px 10px;
      a {
        font-family: $font-family;
        font-size: 1.25rem;
        color: white;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -1px;
          left: 0;
          background-color: #fff;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.35s ease-in-out 0s;
          transition: all 0.35s ease-in-out 0s;
        }

        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
    .ultimo {
      position: absolute;
      right: 50px;
      a:before {
        background-color: transparent;
    
      }
    }
  }
}



.menu-icon{
  cursor: pointer;
  font-size: 25px;
  color: white;
  display: none;
}

.close-icon{
  display: none;
  font-size: 30px;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 48px;

  div {
    position: relative;
    width: 10vw;
    margin-left: -150px;
  }

  h2 {
    color: white;
    text-transform: uppercase;
    font-size: 64px;
    font-family: $font-family;
  }
}

.fundo {
  position: absolute;
  left: 0;
  z-index: 1;
}

.img {
  position: absolute;
  z-index: 2;
  left: 18px;
  bottom: 40px;
}

.bg {
  width: 100%;
  // height: 100px;
}

@media (max-width: 1024px) {
  .nav {
    margin-right: 23.5vw;
    nav {
      width: 85%;
    }
    .ul {
      li {
        a {
          font-size: 1.05rem;
        }
      }
    }
  }

  .content {
    h2 {
      font-size: 48px;
    }
  }

  .img {
    bottom: 23px;
  }
}

@media (max-width: 850px) {
  .nav {
    justify-content: space-between;
    margin-right: 12vw;

    nav {
      width: auto;
    }
  }
    .ul{
      position: fixed;
      top: 0;
      left: 0;
      background-color:#4f88cd;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      clip-path: circle(0% at 100% 0);
      transition: 0.7s;
      z-index: 3;
      gap: 23px;
      
      .ultimo {
        position: static !important; 
      }

      li {
        padding: 8px 8px !important;
      }
      a {
        margin: 6px 0;
        font-size: 16px;
      }
    }
    
  .content {
    justify-content: space-center;
    gap: 26px;
    div {
      margin-left: 0;
    }
    h2  {
      font-size: 48px;
    }
  }

  .img {
    bottom: 18px;
  }

  .open{
    clip-path: circle(141.2% at 100% 0);
  }

  .menu-icon{
    display: block;
  }

  .close-icon{
    display: block;
    position: absolute;
    top: 46px;
    right: 28px;
}
}

@media (max-width: 600px) {
  .content {
    gap: 12vw;
  }
}