.modal-item {
  position: fixed;
  bottom: 2px;
  top: 25px;
  left: .5%;
  width: 99%;
  text-align: center;
  height: auto;
  border-radius: 15px 15px 0 0;
  box-shadow: 5px 5px 15px #000;
  z-index: 2;
}

.modal-item__header {
  text-align: right;
  padding: 8px;
  border-bottom: 1px solid #000;
  border-radius: 15px 15px 0 0;

}

.modal-item__header span {
  padding-right: 14px;
  cursor: pointer;
  font-size: 28px;
}

.modal-item__body {
  padding: 12px;
  position: relative;
  height: 100%;
}
.modal-item__body iframe {
  border-radius: 10px;  
  z-index: 10 ;
}

.galho {
  width: 12%;
  height: 400px;
  rotate: -90deg;
  position: absolute;
  left: -15px;
  bottom: -40px;
  z-index: 0;
}

.galho2 {
  width: 12%;
  height: 400px;
  rotate: -90deg;
  position: absolute;
  right: -15px;
  bottom: -40px;
  z-index: 1;
}

.fade {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1;
}


.none {
  display: none;
}

@media (max-width:500px) {
  .modal-item {
    top: 25px;
    bottom: 0px;
  }

  .modal-item__body {
    height: 100%;   
  }

  .modal-item__body iframe {
    margin-bottom: 20px;
  }

  .galho, .galho2 {
    display: none;
  }
}