$font-family: "Baloo Bhai 2", sans-serif;

.section {
  margin: 12px 64px;
  display: flex;
  
  flex-direction: column;
  h3 {
    font-family: $font-family;
    color: #121111dd;
    font-size: 40px;
  }
  div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 32px 0;
    gap: 3px;
  }
  
  .jogo {
    box-shadow: 2px 2px 20px #0000005d;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transition: 0.4s;
      transform: scale(0.95);
    }

    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      min-height: 200px;
      max-height: 200px;
      height: 200px;
      flex: 2;
    }

    p {
      padding: 32px 0;
      text-align: center;
      font-size: 28px;
      text-transform: uppercase;
      border-top: 2px solid #7d7575;
      flex: 1;
      font-family: $font-family;
    }
  }

  .baixo {
    margin-top: 320px;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 875px) {
  .section {

    h3 {
      font-size: 28px;
    }
    div {

      flex-direction: column;
      // margin: 12px 8vw;
      gap: 120px;
      align-items: start;
      .jogo {
        width: 100%;
      }
    }

    .baixo {
      margin-top: 0;
    }  
  
}}
