.certificados h3,
.certificados p{
    text-align: center;
}

.certificados div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.certificados img{
    width: 120px;
    margin-top: 10px;
}

@media (max-width: 750px) {
    .certificados img {
        width: 20%;
    }
}