.depoimentos h3{
  text-align: center;
}

.depoimentos p{
  margin-bottom: 20px;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.depoimentos .card-item{
  background-color: #d3e6fd;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
  transition: 0.3s;
}

.depoimentos .card-item img{
  border-radius: 100%;
  width: 80px;
  display: block;
  margin: 10px auto;
}

.depoimentos .card-item .nome-user{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.depoimentos .card-item .depoimento-user{
  font-size: 15px;
  padding: 0 15px;
  transition: 0.3s;
}

.depoimentos .card-item .estrelas{
  margin: 15px 0;
  border-top: 2px solid #71767a23;
  transition: 0.3s;
}

.depoimentos .card-item .estrelas i{
  color: #4f9cf9;
  margin-top: 15px;
  font-size: 20px;
}

.depoimentos .card-item:hover{
  background-color: #4f9cf9;
  margin-top: -5px;
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i{
  color: white;
}


@media (max-width: 830px) {
  .depoimentos .card-item{
    width: 100%;
  }
}